<!DOCTYPE html>
<html lang="en">
  <%-include('partials/encabezado.html');%>

<body>
    
<body style="background-color: aliceblue;">
    <div class="container" style="background-color: lightblue; border: 2px black solid; padding:10px; margin-top: 10px;">
      <center>
        <h1></h1>
        <form action="/luz" method="post">

          <div class="form-group row">
              <label for=""  class="col-sm-2 col-form-label">Numero de recibo:</label>
              <div class="col-sm-10">
                  <input type="text" name="boleto" id="boleto" required="true" >
                  </div>
          </div>

       

          <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Nombre: </label>
                 <div class="col-sm-10">
                <input type="text" name="nombre" id="nombre" required="true"  >
              </div>
          </div>

      

          <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Domicilio:</label>
                <div class="col-sm-10">
                <input type="text" name="domicilio" id="domicilio" required="true" >
                </div>
          </div>
         
   

          <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Tipo de servicio: </label>
              <div class="col-sm-10">
                <select name="tipo" id="tipo" >
                  <option value="1">Domestico</option>
                  <option value="2">Comercial</option>
                  <option value="3">Industrial</option>

                </select>
              </div>
          </div>

          <div class="form-group row">

          <label for="" class="col-sm-2 col-form-label">Kilowats Consumidos:</label>
                <div class="col-sm-10">
                <input type="number" name="consumo" id="consumo" required="consumo" >
                </div>

              </div>

          <br>
  
          <br>
        
       
          <button type="submit" class="btn btn-primary mb-2">Enviar</button>
          <button type="reset" class="btn btn-primary mb-2" onclick="Limpiar()">Limpiar</button>

  
        </form>
      </center>


    
  
    </div>
    <%-include('partials/piePagina.html');%>

</body>
</html>